SSH_HOST=vh326.timeweb.ru
SSH_USER=ci19820
SSH_PASSWORD=your_timeweb_password
# OR use SSH key:
# SSH_KEY_PATH=/root/.ssh/id_rsa

MYSQL_USER=ci19820_voucher2
MYSQL_PASSWORD=NewPass2026
MYSQL_DB=ci19820_voucher2
LOCAL_MYSQL_PORT=3307

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=348004
PG_DB=tour_crm

POLL_INTERVAL=60
